<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Recipes</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @recipe.name %></li>
  </ol>
</nav>

<div class="row mb-3">
    <h1><%= @recipe.name %></h1>
</div>

<div class="card">
  <div class="card-body">
    <p class="lead"> <%= @recipe.description %></p></p>
    <p class="text-muted">Rating: <%= @recipe.rating %> / 5</p>
    <p class="text-muted">Prep time: <%= @recipe.prep_time %></p>
  </div>
</div>
